html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}

a {
    text-decoration: none;
}

footer {
    margin-top: auto;
    color: black;
    text-align: center;
}