html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}

.blogTitle {
    font-size: larger;
}

.blogDateDiv {
    text-align: right;
}

.blogSubtitle {
    font-size: medium;
    color: grey;
}

a {
    text-decoration: none;
}

footer {
    margin-top: auto;
    width: 100%;
    color: black;
    text-align: center;
}