body {
    font-family: 'Open Sans', sans-serif;
}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}

.blogTitle {
    font-size: larger;
}

.blogDate {
    text-align: end;
}

.blogSubtitle {
    font-size: medium;
    color: grey;
}

a {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}